<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LAB Consulting</title>
	<!-- Fonts -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<!-- Bootstrap Reboot CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Arctic modal -->
	<link rel="stylesheet" type="text/css" href="css/jquery.arcticmodal-0.3.css">
	<!-- Lightbox -->
	<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- Section1 -->
	<header id="header" class="header header__about">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4 col-5">
					<a href="#" class="logo">
						<img src="img/Logo.png" class="logo__emblem img-fluid">
					</a>
				</div>
				<div class="d-none d-lg-block col-lg-6">
					<nav>
						<ul class="menu d-flex justify-content-between">
							<li class="menu__item">
								<a href="about.html">
									О компании
								</a>
							</li>
							<li class="menu__item">
								<a href="index.html">
									Пресс-центр
								</a>
							</li>
							<li class="menu__item">
								<a href="services.html">
									Услуги
								</a>
							</li>
							<li class="menu__item">
								<a href="#">
									Отрасли
								</a>
							</li>
							<li class="menu__item">
								<a href="contacts.html">
									Контакты
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-8 col-lg-2 col-7 d-flex justify-content-end">
					<button type="button" class="call call__home mybtn ml-auto">
						<i class="fa fa-phone"></i>
						<span class="call__text">
							Заказать звонок
						</span>
					</button>
					<button type="button" class="hiding">
						<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="offer-block">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-5 col-xl-3 ml-auto">
						<h1 class="offer-title">
							О компании
						</h1>
						<ul class="offer-main">
							<li class="offer-main__block">
								<a href="index.html" class="offer-main__follow" target="_blank">
									Главная 
								</a>
							</li>
							<li class="offer-main__about">
								О компании
							</li>
						</ul>			
					</div>
					<div class="col-lg-7 col-xl-9">
						<ul class="offer-view offer-view_about">
							<li class="offer-view__slot">
								<a href="#" class="offer-view__item">
									Видение
								</a>
							</li>
							<li class="offer-view__slot">
								<a href="#" class="offer-view__item">
									Преимущества
								</a>
							</li>
							<li class="offer-view__slot">
								<a href="#" class="offer-view__item">
									Клиенты
								</a>
							</li>
							<li class="offer-view__slot">
								<a href="#" class="offer-view__item">
									Партнеры
								</a>
							</li>
							<li class="offer-view__slot">
								<a href="#" class="offer-view__item">
									Контакты
								</a>									
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Section2 -->
	<section id="advantage-chapter" class="advantage-chapter">
		<div class="container">
			<div class="row">
				<h2 class="advantage-title">
					Преимущества LAB Consult
				</h2>
				<div class="col-lg-12">
					<div class="advantage">
						<div class="advantage__main">
							<p class="advantage__text">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
							</p>
							<p class="advantage__text advantage__text_right">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat commodo consequat.
							</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section3 -->
	<section id="legend" class="legend">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="advantages">
						<li class="advantages__item">
							<div class="advantages__overlay">
								<div class="advantages__pic">
									<img src="img/scale.png" class="scale">
								</div>
								<div class="advantages__cover">
									<h4 class="advantages__title">
										Первое весомое преимущество
									</h4>
									<p class="advantages__text">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
									</p>
								</div>
							</div>
						</li>
						<li class="advantages__item advantages__item_next">
							<div class="advantages__overlay">
								<div class="advantages__pic">
									<img src="img/scale.png" class="scale">
								</div>
								<div class="advantages__cover">
									<h4 class="advantages__title">
										Второе сильное и мощное преимущество
									</h4>
									<p class="advantages__text">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
									</p>
								</div>
							</div>
						</li>
						<li class="advantages__item advantages__item_next">
							<div class="advantages__overlay">
								<div class="advantages__pic">
									<img src="img/scale.png" class="scale">
								</div>
								<div class="advantages__cover">
									<h4 class="advantages__title">
										Третье и финальное сильное и мощное преимущество
									</h4>
									<p class="advantages__text">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Section4 -->
	<section id="power" class="power">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="power-title">
						Фото наших мощностей
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3 justify-content-center d-flex">
					<div class="transport">
						<img src="img/car1.jpeg" alt="yellow" data-title="our transport" class="transport__pic img-fluid">
						<div class="transport__overlay">
							<a href="img/car1.jpeg" data-lightbox="slider" class="transport__icon">
								<i class="fa fa_compress fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 justify-content-center d-flex">
					<div class="transport">
						<img src="img/car2.jpeg" alt="red" class="transport__pic img-fluid">
						<div class="transport__overlay">
							<a href="img/car2.jpeg" data-lightbox="slider" class="transport__icon">
								<i class="fa fa_compress fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 justify-content-center d-flex">
					<div class="transport">
						<img src="img/car3.jpeg" alt="truck" class="transport__pic img-fluid">
						<div class="transport__overlay">
							<a href="img/car3.jpeg" data-lightbox="slider" class="transport__icon">
								<i class="fa fa_compress fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 justify-content-center d-flex">
					<div class="transport">
						<img src="img/ship.jpeg" alt="ship" class="transport__pic img-fluid">
						<div class="transport__overlay">
							<a href="img/ship.jpeg" data-lightbox="slider" class="transport__icon">
								<i class="fa fa_compress fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section5 -->
	<section id="information" class="information">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							О компании
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Видение, миссия и ценности
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Преимущества
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Клиенты
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Партнеры
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Пресс – центр
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Новости
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Публикации
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Мероприятия
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Услуги
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Отрасли
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Аграрный сектор
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									ИT – бизнес
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Оптовая и розничная торговля
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Сфера услуг
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Образовательный центр
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Про Образовательный Центр
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Преимущества
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Соц. предпринимательство
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Социальная миссия
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Проекты
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Партнеры
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<a href="#" class="logo-down">
						<img src="img/LogoFoot.png" class="logo-down__pic img-fluid">
					</a>	
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="adress">
						<p class="requisites requisites_high">
							Вы хотите сотрудничать с нами?<br>
							У Вас есть идеи или предложения?<br>
							Свяжитесь с нами прямо сейчас!
						</p>
						<p class="requisites requisites_low">
							65000,<br>
							Украина, г. Одесса<br>
							Ул Базарная, 36
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="learning d-flex">
						<a href="#" class="learning__block">
							W
						</a>
						<div class="learning__coaching">
							<p class="learning__design">
								Дизайн и разработка
							</p>
							<p class="learning__design learning__design_capitol">
								Коучинг по верстке
							</p>
						</div>
					</div>
					<div class="rights">
						<p class="rights__descr">
							© Все права защищены
						</p>
						<p class="rights__descr rights__descr_logo">
							LAB Consulting
						</p>
						<a href="#" class="rights__descr rights__descr_follow">
							lab-consult.com
						</a>
					</div>
				</div>
				<div class="col-lg-3 d-md-none d-lg-flex justify-content-center d-flex justify-content-lg-end">
					<button type="button" class="calling mybtn">
						<i class="fa fa-phone"></i>
						<span class="call__text">
							Заказать звонок
						</span>
					</button>
				</div>
			</div>
		</div>
	</footer>

	<div style="display: none;">
		<div class="box-modal" id="modalWindow">
			<form action="#" class="form-modal">
				<h1 class="form-modal__title">
					Заказать обратный звонок
				</h1>
				<p class="form-modal__text">
					Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
				</p>
				<div class="form-modal__form">
					<input type="text" class="form-modal__input box-modal__input_name" name="name" placeholder="Имя" required>
					<input type="email" class="form-modal__input box-modal__input_email"name="email" placeholder="E-mail" required>
					<input type="tel" class="form-modal__input box-modal__input_tel" name="tel" placeholder="Телефон" required>
				</div>
				<button type="button" class="calling calling_btn mybtn">
					<i class="fa fa-phone"></i>
					<span class="call__text">
						Заказать звонок
					</span>
				</button>	
			</form>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>