<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LAB Consulting</title>
	<!-- Fonts -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<!-- Bootstrap Reboot CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css">
	<!-- Arctic modal -->
	<link rel="stylesheet" type="text/css" href="css/jquery.arcticmodal-0.3.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header id="header" class="header header__about">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4 col-5">
					<a href="#" class="logo">
						<img src="img/Logo.png" class="logo__emblem img-fluid">
					</a>
				</div>
				<div class="d-none d-lg-block col-lg-6">
					<nav>
						<ul class="menu d-flex justify-content-between">
							<li class="menu__item">
								<a href="about.html">
									О компании
								</a>
							</li>
							<li class="menu__item">
								<a href="index.html">
									Пресс-центр
								</a>
							</li>
							<li class="menu__item">
								<a href="services.html">
									Услуги
								</a>
							</li>
							<li class="menu__item">
								<a href="#">
									Отрасли
								</a>
							</li>
							<li class="menu__item">
								<a href="contacts.html">
									Контакты
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-8 col-lg-2 col-7 d-flex justify-content-end">
					<button type="button" class="call call__home mybtn">
						<i class="fa fa-phone"></i>
						<span class="call__text">
							Заказать звонок
						</span>
					</button>
					<button type="button" class="hiding">
						<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="search">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="search-chapter">
							<form>
								<input type="text" placeholder="поиск">
								<button type="submit" class="searching-btn">искать</button>
							</form>
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="offer-block offer-block_contacts">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<h1 class="offer-title">
							Контакты
						</h1>
						<ul class="offer-main">
							<li class="offer-main__block">
								<a href="index.html" class="offer-main__follow" target="_blank">
									Главная 
								</a>
							</li>
							<li class="offer-main__about">
								Контактная информация
							</li>
						</ul>
					</div>
					<div class="col-lg-8 d-flex justify-content-center justify-content-lg-end">
						<ul class="offer-view">
							<li class="offer-view__connections">
								<a href="#" class="offer-view__item">
									Офис в Одессе
								</a>
							</li>
							<li class="offer-view__connections">
								<a href="#" class="offer-view__item">
									Офис в Киеве
								</a>
							</li>
							<li class="offer-view__connections">
								<a href="#" class="offer-view__item">
									Офис в Харькове
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Section2 -->
	<section id="datas" class="datas">
		<div class="map">
			<div style="overflow:hidden;width: 1517px;position: relative;"><iframe width="1517" height="440" src="https://maps.google.com/maps?width=1517&amp;height=440&amp;hl=en&amp;q=Kiev%2C%20Ukraine+(Maidan)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/ru/">embedgooglemaps RU</a> & <a href="https://iamsterdamcard.it">iamsterdamcard</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
		</div>
		<div class="contacts">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-xl-5 ml-auto">
						<div class="contacts__data">
							<div class="contacts__head d-flex">
								<h4 class="contacts__title">
									LAB Consulting
								</h4>
								<ul class="contacts__items d-flex">
									<li class="contacts__icon">
										<a href="#" class="contacts__icon contacts__icon_fb" target="_blank">
											<i class="fab fa-facebook"></i>
										</a>
									</li>
									<li class="contacts__icon">
										<a href="#" class="contacts__icon contacts__icon_tw" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li class="contacts__icon">
										<a href="#" class="contacts__icon contacts__icon_tel" target="_blank">
											<i class="fab fa-telegram-plane"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="connect">
								<div class="connect__info">
									<ul class="connect__tel">
										<li class="connect__item">
											<a href="tel:+38(048)7562354" class="connect__data">
												<i class="fa fa_connect fa-phone"></i>
												+38 (048) 756-23-54
											</a>
										</li>
										<li>
											<a href="tel:+38(048)7562354" class="connect__data">
												<i class="fa fa_connect fa-phone"></i>
												+38 (048) 756-23-54
											</a>
										</li>
									</ul>
									<div class="connect__item connect__item_adress d-flex">
										<i class="fa fa_nav fa-location-arrow"></i>
										<p class="connect__data connect__data_adress">
											65000, <br>
											Украина, г. Одесса
											Ул Базарная, 36
										</p>
									</div>
									<a href="mailto:info@lab-consult.com" class="connect__data">
										<i class="fa fa_connect fa-envelope"></i>
										info@lab-consult.com
									</a>
								</div>
								<div class="connect__text">
									<p class="connect__paragraph connect__paragraph_high">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</p>
									<p class="connect__paragraph">
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section3 -->
	<section id="information" class="information information_contacts">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							О компании
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Видение, миссия и ценности
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Преимущества
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Клиенты
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Партнеры
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Пресс – центр
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Новости
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Публикации
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Мероприятия
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Услуги
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Отрасли
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Аграрный сектор
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									ИT – бизнес
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Оптовая и розничная торговля
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Сфера услуг
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Образовательный центр
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Про Образовательный Центр
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Преимущества
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="values">
						<h4 class="values__title">
							Соц. предпринимательство
						</h4>
						<ul class="values__list">
							<li>
								<a href="#" class="values__items">
									Социальная миссия
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Проекты
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Партнеры
								</a>
							</li>
							<li>
								<a href="#" class="values__items">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer" class="footer footer_contacts">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<a href="#" class="logo-down">
						<img src="img/LogoFoot.png" class="logo-down__pic img-fluid">
					</a>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="adress">
						<p class="requisites requisites_high">
							Вы хотите сотрудничать с нами?<br>
							У Вас есть идеи или предложения?<br>
							Свяжитесь с нами прямо сейчас!
						</p>
						<p class="requisites requisites_low">
							65000,<br>
							Украина, г. Одесса<br>
							Ул Базарная, 36
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="learning d-flex">
						<a href="#" class="learning__block">
							W
						</a>
						<div class="learning__coaching">
							<p class="learning__design">
								Дизайн и разработка
							</p>
							<p class="learning__design learning__design_capitol">
								Коучинг по верстке
							</p>
						</div>
					</div>
					<div class="rights">
						<p class="rights__descr">
							© Все права защищены
						</p>
						<p class="rights__descr rights__descr_logo">
							LAB Consulting
						</p>
						<a href="#" class="rights__descr rights__descr_follow">
							lab-consult.com
						</a>
					</div>
				</div>
				<div class="col-lg-3 d-md-none d-lg-flex justify-content-center d-flex justify-content-lg-end">
					<button type="button" class="calling mybtn">
						<i class="fa fa-phone"></i>
						<span class="call__text">
							Заказать звонок
						</span>
					</button>
				</div>
			</div>
		</div>
	</footer>

	<div style="display: none;">
		<div class="box-modal" id="modalWindow">
			<form action="#" class="form-modal">
				<h1 class="form-modal__title">
					Заказать обратный звонок
				</h1>
				<p class="form-modal__text">
					Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
				</p>
				<div class="form-modal__form">
					<input type="text" class="form-modal__input box-modal__input_name" name="name" placeholder="Имя" required>
					<input type="email" class="form-modal__input box-modal__input_email"name="email" placeholder="E-mail" required>
					<input type="tel" class="form-modal__input box-modal__input_tel" name="tel" placeholder="Телефон" required>
				</div>
				<button type="button" class="calling calling_btn mybtn">
					<i class="fa fa-phone"></i>
					<span class="call__text">
						Заказать звонок
					</span>
				</button>	
			</form>
		</div>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>